<h1><%= link_to "Costumely", costumes_path %></h1>

<h2>Editing <%= @costume.name %> costume:</h2>

<%= form_tag costumes_path, :method => :post do %>
   <%= label_tag :costume_name %>
   <%= text_field_tag :name %><br />
   <%= label_tag :costume_image %>
   <%= text_field_tag :image %><br />
 
   <%= submit_tag "Update" %>
<% end %><br />

<%= link_to "Back", costume_path(@costume) %>