<!DOCTYPE html>
<html>
<head>
  <title>Blabber</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<br>
	<% if @home.nil? %>
		<%= link_to( "Home", root_path )  %><br>
	<% end %>

</body>
<footer>

<% if logged_in? #user is logged in %>

	<%= "User #{current_user.email} is currently logged in." %>

<% else %>

	<%= "No user is currently logged in." %>

<% end %>

</footer>
</html>
