<center>
<div class="movies">
  <div class="movie">
      <div class="poster">
        <img src="<%= "#{@result['poster']}" %>" />
      </div>
      <div class="info">
        <p><strong>Title :</strong> <%= "#{@result['title']}" %></p>
        <p><strong>Year :</strong> <%= "#{@result['year']}" %></p>
        <p><strong>Rated :</strong> <%= "#{@result['rated']}" %></p>
        <p><strong>Genre :</strong> <%= "#{@result['genre']}" %></p>
        <p><strong>IMDB Rating :</strong> <%= "#{@result['imdb']}" %></p>
      </div>
  </div>
</div>
</center>