  <center><div class="movies">
    <div class="movie">
      <div class="poster">
        <img src="<%= "#{@info[3]}" %>" />
      </div>
      <div class="info">
        <p><strong>Title :</strong> <%= "#{@info[1]}" %></p>
        <p><strong>Year :</strong> <%= "#{@info[2]}" %></p>
        <p><strong>Rated :</strong> <%= "#{@info[4]}" %></p>
        <p><strong>Genre :</strong> <%= "#{@info[5]}" %></p>
        <p><strong>IMDB Rating :</strong> <%= "#{@info[6]}" %></p>
      </div>
    </div>
</div> </center>