<h1>hello</h1>
<section>
<a href="/movies/<%=@list_broken_down[0]%>"></a>

<p>ID: <%= @list_broken_down[0] %></p>
<p>Year:<%= @list_broken_down[1] %></p>
<p>Pic:<img src=<%=@list_broken_down[2]%>/></p>
<p><%= @list_broken_down[3] %></p>
</section>