<ul>
  <li><img src='<%= @show.img_url %>'></li>
   <li><%= @show.title %></li>
   <li><%= @show.composer %></li>
   <li><%= @show.year %></li>
  <li><a href="<%= "/shows/#{@show.id}/songs"%>">Songs</a></li>
</ul>