<a class ="greeting" href="/">movie submarine</a>
<% file = File.new("movies.txt", "r") %>

<% file.each do |line|%>
  <% item = line.split(", ")%>
  
  <% if item[0] == params[:id]%>
    <% id = "#{item[0]}" %>
    <% title = "#{item[1]}" %>
    <% year =  "(#{item[2]})" %>
    <% poster_url =  "#{item[3]}" %>
    <% plot =  "(#{item[4]})" %>
      <div class="single-movie">
    <div class="left">
      <ul>
        <li class="title"><%= title %></li>
        <li class="sub"><%= year %></li>
        <li><a href="/movies/<%=id%>"><img src=<%=poster_url%>/></a></li>
      </ul>
    </div>
    <div class="right">
      <li class ="plot"><%= plot %></li>
    </div>
  <% end %>
<% end %>

<% file.close %>
