<h3><%= @entry.author %>'s Instagram:</h3>

      <img src="<%= @entry.photo %>" alt="<%= @entry.author %>'s Instagram" />
      <p><%= @entry.author %> took photo on <%= @entry.date %> </p>

<p><a href="/insta">Home</a></p>