<!-- Displays one entry -->
<!-- User is redirected here after creating an entry -->

<ul>
	<p>
		<% if @entry.author[0] == '@' %>
			<li><a href="http://instagram.com/<%= @entry.author[1..-1] %>"><%= @entry.author %></a></li>
		<% else %>
			<li><%= @entry.author %></li>
		<% end %>
		<li><%= @entry.date_taken %></li>
		<img src="<%= @entry.photo_url %>">
		<br/>
	</p>
</ul>