<div class="header">
<h1> Goat Grit </h1> 
></div>

<div class="submit">
<h2>Submit a <a href="/entries/new">new photo</a></h2
 </div> 
 
  <% @entries.each do |entry| %>
  <div>
    <p> <a href="/entries/<%=entry.id %>"><%= entry.name %></a></p>
    <p> <a href="/entries/<%= entry.id %>"><img src="<%= entry.photo_url %>"></a></p>
    <p> <%= entry.date_taken %></p> 
    </div>
    <% end %> 



