<p>
	<% file = File.new("movies.txt", "r") %>
	<% file.each do |line| %>
		<% movies_array = line.split(",") %>
		<a href="movies/<%= movies_array[0] %>">Isolate</a>
		<br>
		<%= "ID: #{movies_array[0]}" %>
		<br>
		<%= "Title: #{movies_array[1]}" %>
		<br>
		<%= "Year: #{movies_array[2]}" %>
		<br>
		<img src="<%="#{movies_array[3]}"%>" alt="">
		<br>
		<br>
	<% end %>
	<% file.close %>
</p>
