<h1> <%= @stock_symbol %> </h1>
<p> The Price is: <%= @price %> </p>

<p> The data is: </p>
<p> <%= 
		newstring = String.new
		@data.each_key do |x|
			newstring += "#{x}:" + "     " + "#{@data[x]["data"]}" +"<br>"
		end
		newstring
	%>

<p> Thanks for using the google api! </p>

<p> and now for a technical chart.  Thanks yahoo...

<img src="http://chart.finance.yahoo.com/z?s=<%=@stock_symbol%>&t=6m&q=l&l=on&z=l&p=m50,e200,v&a=p12,p&c=%5EDJI,EURUSD=X&region=de&lang=de-DE">
</p>


<%= erb :form %>