<div class="container">
	<div class="hero-unit">
	<h1> <%= @string %> </h1>
	<p>
		<a href="/<%= @url_link_choice1 %>" class="btn btn-primary btn-large"><%= @choice1 %></a>
		<a href="/<%= @url_link_choice2 %>" class="btn btn-primary btn-large"><%= @choice2 %></a>
	</p>
	</div>

</div>

<!-- 	<h1>
	<%= @string %>
	</h1>
	<br>
	<br>
	<a href="/<%= @url_link_choice1 %>"><%= @choice1 %></a>
	<a href="/<%= @url_link_choice2 %>"><%= @choice2 %></a> -->
