<!-- write new w/ SQL -->
<p>
	<% @result.values.each do |array| %>
		<% if array[0] == params[:id] %>
			<%= "ID: #{array[0]}" %>
			<br>
			<%= "Title: #{array[1]}" %>
			<br>
			<%= "Year: #{array[2]}" %>
			<br>
			<%= "Genre: #{array[3]}" %>
			<br>
			<%= "IMDB: #{array[4]}" %>
			<br>
			<img src="<%="#{array[5]}"%>" alt="">
		<% end %>
	<% end %>
</p>
