<div class="form">
  <ul>
    <%= form_tag costumes_path, :method => :post do %>
    <%= label_tag :name %></br>
    <%= text_field_tag :name %></br>
    <%= label_tag :photo_url %></br>
    <%= text_field_tag :photo_url %></br>
    <%= submit_tag "Submit", :class => 'submit'%>
    <% end %>
  </ul>
</div>