<h3><%= @user.name %></h3>
<h3><%= @user.email %></h3>

<%= link_to "Edit", edit_user_path(@user) %> |
<%= link_to "Delete user", user_path(@user), :method => :delete %> |
<%= link_to "Sign out user", session_path, :method => :delete %>